body {
    --main--orange: #ff6600;
    --main--blue: #0033cc;
    --navigation-font-family: 'Roboto', sans-serif;
    --font-color-nav: #0033cc;
    --font-weight-nav: 900;
    --underline: #e6e6e6;
    margin: 0;
    padding: 0;
    font-family: var(--navigation-font-family);
    display: grid;
    grid-template-areas: "header" "body" "footer";
}


/* Header settings */

header {
    grid-area: header;
    display: grid;
    grid-template-areas: "logo_area navigation_area account_area";
    grid-template-columns: 1fr 3fr 1fr;
    height: 150px;
}


/* Logo area settings*/

.logo_area {
    grid-area: logo_area;
    max-height: 150px;
    display: grid;
    grid-template-areas: ". . ." ". logo ." ". . .";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.logo_area .logo {
    grid-area: logo;
}

.logo img {
    width: 100%;
    height: 100%;
}


/*Navigation area settings*/

.navigation_area {
    display: grid;
    grid-area: navigation_area;
    grid-template-areas: "." "navigation_row" ".";
    grid-template-rows: 1fr 1fr 1fr;
}

.navigation_row {
    grid-area: navigation_row;
    display: flex;
    justify-content: center;
}

.navigation_row a {
    margin: 0 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--navigation-font-family);
    font-weight: 1000;
    color: var(--font-color-nav);
}

.navigation_row a:hover {
    border-bottom: 2px var(--font-color-nav) solid;
}

.navigation_row a.active {
    border-bottom: 2px var(--font-color-nav) solid;
}


/* Account area settings */

.account_area {
    grid-area: account_area;
    display: grid;
    grid-template-areas: ". . . ." ". account_button logout ." ". . . .";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.account_area a.account {
    grid-area: account_button;
}

.account_area a.logout {
    grid-area: logout;
    margin-left: 5px;
}

.account_area button {
    width: 125px;
    height: 50px;
    border-radius: 15px;
    border: 3px solid var(--main--orange);
    background-color: transparent;
    color: var(--main--orange);
    font-family: var(--navigation-font-family);
    font-weight: var(--font-weight-nav);
    font-size: 1em;
    transition-property: color, background-color;
    transition-duration: 200ms;
}

.account_area button:hover {
    background-color: var(--main--orange);
    color: white;
}


/* Main content style */

main {
    grid-area: body;
    display: grid;
    grid-template-areas: ". content .";
    grid-template-columns: 1fr 5fr 1fr;
}

.container {
    grid-area: content;
    display: grid;
    height: max-content;
    border-top: 1px solid var(--underline);
}


/* Greating block style */

.main_page_greating {
    display: grid;
    grid-template-areas: "g i" "m i" "b i" ". i";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto 2fr;
}

.greating_text {
    grid-area: g;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding: 10px 15px;
}

.greating_text h1 {
    font-family: var(--navigation-font-family);
    font-weight: 900;
    color: var(--font-color-nav);
}

.greating_info {
    grid-area: m;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding: 10px 15px;
}

.greating_info p {
    font-family: var(--navigation-font-family);
}

.buttons {
    grid-area: b;
    display: grid;
    grid-template-areas: "b1 b2 .";
    grid-template-columns: 1fr 1fr 4fr;
}

.btn {
    grid-area: b1;
    margin: 15px;
    width: 125px;
    height: 50px;
    border-radius: 15px;
    border: 3px solid var(--main--orange);
    background-color: var(--main--orange);
    color: white;
    font-family: var(--navigation-font-family);
    font-weight: var(--font-weight-nav);
    font-size: 1em;
}

.buttons .btn-rounded {
    grid-area: b2;
    margin: auto;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid var(--underline);
}

.btn-rounded img {
    width: 30px;
    height: 30px;
}

.greating_img {
    grid-area: i;
}

.greating_img img {
    width: 100%;
    height: 100%;
}


/* Animals block style */

.animals_block {
    display: grid;
}

.animal_type_block {
    min-height: 100px;
    display: grid;
    margin: 15px;
    grid-template-areas: "name" "animals";
    grid-template-rows: auto;
}

.animal_type_header {
    grid-area: name;
}

.type_button {
    width: 125px;
    height: 50px;
    margin: 5px;
    border-radius: 15px;
    border: 3px solid var(--main--orange);
    background-color: transparent;
    color: var(--main--orange);
    font-family: var(--navigation-font-family);
    font-weight: var(--font-weight-nav);
    font-size: 1em;
    transition-property: color, background-color;
    transition-duration: 200ms;
}

.type_button:hover {
    background-color: var(--main--orange);
    color: white;
}


/* Animals row styles*/

.animals_row {
    grid-area: animals;
    padding: 5px;
    display: flex;
    overflow: hidden;
    height: auto;
    width: 100%;
}


/* Animal box styles */

.animal {
    display: grid;
    grid-template-areas: "photo" "name" "price" "controls";
    padding: 5px;
    text-align: center;
}

.animal_photo {
    grid-area: photo;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.animal_name {
    grid-area: name;
    margin: 5px;
}

.animal_price {
    grid-area: price;
    margin: 5px;
}

.animal_controls {
    grid-area: controls;
    margin: 5px;
}

.animal_controls button {
    width: 125px;
    height: 50px;
    border-radius: 15px;
    border: 3px solid var(--main--orange);
    background-color: transparent;
    color: var(--main--orange);
    font-family: var(--navigation-font-family);
    font-weight: var(--font-weight-nav);
    font-size: 1em;
    transition-property: color, background-color;
    transition-duration: 200ms;
}

.animal_controls button:hover {
    background-color: var(--main--orange);
    color: white;
}


/* Animal types page styles */

.animal_type_container {
    display: grid;
    padding: 5px;
    padding-top: 10px;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
    grid-template-rows: auto;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}

.animal_type_container .animal {
    width: auto;
    height: auto;
    border: 3px solid transparent;
}

.animal_type_container .animal_photo {
    margin: auto;
    width: 200px;
    height: 200px;
}

.animal_type_container .animal:hover {
    border-radius: 15px;
    border: 3px solid var(--main--orange);
}


/* Login page style */

.login_box,
.registration_box {
    display: grid;
    margin: 15px auto;
    height: 700px;
    width: 90%;
    grid-template-areas: "img data";
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: auto;
    border-radius: 30px;
    border: 1px solid var(--underline);
}


/* Image side styles*/

.image_side {
    grid-area: img;
    border-radius: 30px;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/827ced4c-062a-4dce-b568-40e8ebe9f87d/d25w0pz-7c81c8c0-17e5-4de3-94b4-e6e7bac5c043.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgyN2NlZDRjLTA2MmEtNGRjZS1iNTY4LTQwZThlYmU5Zjg3ZFwvZDI1dzBwei03YzgxYzhjMC0xN2U1LTRkZTMtOTRiNC1lNmU3YmFjNWMwNDMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.-RfwW21PQLE7SiCKLNKNYja2hK8U5AWOR-L9a-XHNDY');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent_block {
    height: 70%;
    width: 80%;
    background-color: black;
    opacity: 70%;
    border-radius: 15px;
    padding: 15px;
}

.content_block {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: left;
    align-items: flex-end;
    opacity: 100%;
    color: white;
}

.content_block a {
    text-decoration: none;
    color: white;
}


/* Login side styles */

.login_side,
.registration_side {
    grid-area: data;
    display: grid;
    grid-template-areas: ". . ." ". title ." ". inputs ." " . . .";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
}

.login_header,
.registration_header {
    grid-area: title;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.login_header h1,
.registration_header h1 {
    font-size: 3em;
}

.login_form,
.registration_form {
    grid-area: inputs;
    padding: 15px;
}

.input_row {
    padding: 5px 0;
}

.input_row label {
    font-size: .9em;
    display: block;
}

.input_row .inline {
    display: inline;
}

#login,
#password,
#email {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid var(--underline);
}

#login.available,
#email.available {
    border: 1px solid green;
}

#login.notavailable,
#email.notavailable {
    border: 1px solid red;
}

.flex_controls {
    display: block;
    width: 100%;
    height: 45px;
}

.flex_controls button {
    width: 100%;
    height: 100%;
    color: white;
    background-color: var(--main--blue);
    border: 0;
    border-radius: 10px;
    font-weight: 900;
}


/* Registration side styles */

.registration_side {
    grid-template-rows: .5fr 1fr 2fr .5fr;
}


/* Account page styles */

.account_page {
    display: grid;
    margin: 15px;
    grid-template-areas: "account_info" "account_animals";
    grid-template-rows: auto;
}


/* Account info styles*/

.account_info {
    grid-area: account_info;
}

.account_header {
    padding: 5px;
}

.info_row {
    margin: 5px;
}


/* Account animal styles*/

.animal_container {
    grid-area: account_animals;
    display: grid;
    grid-template-areas: "animal_header" "animals";
}


/* Account animals header style */

.animal_header {
    grid-area: animal_header;
    padding: 5px;
    border-top: 1px solid var(--underline);
}


/* Account animals style */

.account_animals {
    grid-area: animals;
    display: grid;
    padding: 5px;
    padding-top: 10px;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
    grid-template-rows: auto;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}

.account_animals .animal {
    width: auto;
    height: auto;
    border: 3px solid transparent;
}

.account_animals .animal_photo {
    margin: auto;
    width: 200px;
    height: 200px;
}

.account_animals .animal:hover {
    border-radius: 15px;
    border: 3px solid var(--main--orange);
}


/* Account animals controls style */

.account_animals .animal_controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.account_animals .animal_controls button {
    width: 100%;
    height: 100%;
}


/* Animal page style */

.animal_content {
    display: grid;
    width: max-content;
    min-width: 70%;
    margin: auto;
    grid-template-areas: " controls image animal_data" "controls image user_data" "controls owner_controls owner_controls";
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 15px;
}

.animal_photos {
    grid-area: image;
}

.animal_info {
    grid-area: animal_data;
}

.animal_owner {
    grid-area: user_data;
}

.back {
    grid-area: controls;
    margin: 10px;
}

.back img {
    width: 30px;
    height: 30px;
}

.owner_controls {
    grid-area: owner_controls;
    margin: 10px;
}


/* Edit animal page */

.edit_animal_content {
    width: max-content;
    min-width: 70%;
    margin: auto;
    margin-top: 15px;
    display: grid;
    grid-template-areas: "controls image animal_data";
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto;
}